.login-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 635px;
}

.logo-wrapper{
    display: flex;
    height: 100vh;
    width: 80vw;
    clip-path: polygon(0px 0px, 45vw 0px, 290vw 900vw, 0px 100%);
    background: #009d8c;
}

.form-wrapper{
display: flex;
padding-top: 40px;
margin: 0px 160px 0px 0px;
}

.login-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register-link{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color:  #fa9494;
}

.register-link :last-child {
    padding-left: 10px;
    text-decoration-line: underline;
    color:  #fa9494;
    transition: .2s;

}
.register-link :last-child:active {
    color: #fa9494;
}
.register-link :last-child:hover {
    color: #fa9494;
}


@media (max-width: 768px) {
.login-wrapper{
    display: flex;
    background-color: #009d8c;
    flex-direction: column;
    align-items: center;
    height: 1024px;  
}
.logo-wrapper{
    display: flex;
}

.logo-login {
    padding-top: 50px; 
    margin: 15px;
 }
 .login-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register-link{
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    color: white;
}

.register-link :last-child {
    padding-left: 10px;
    text-decoration-line: underline;
    color: white;
    transition: .2s;

}
.register-link :last-child:active {
    color: #fa9494;
}
.register-link :last-child:hover {
    color: #fa9494;
}

 
}

@media (max-width: 414px) {
         .login-wrapper{
        margin-top: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        text-align: center;
    }

    .logo-login {
        padding-top: 20px; 
        margin: 15px;
     }


}