.login-wrapper {
display: flex;
flex-direction: row;
}

.logo-wrapper {
display: flex;
background-color: #0A1936;
justify-content: center;
align-items: center;
}

.logo-wrapper img {
width: 400px;
height: 500px;
}