.input-login{
    display: flex;
    background-color: white; 
    border: #fa9494 1.5px solid;  
    border-radius: 10px;
    margin: 30px 0 30px 0;
    width: 300px;
    height: 40px;
    padding: 12px 0px 0px 10px;
    box-shadow: 0px 0px 20px 0px #fa9494 ;

}

.input-login::placeholder{
    display: flex;
    font-size: 30px;
}

.input-register{
    display: flex;
    background-color: white; 
    border: #fa9494 1.5px solid;  
    border-radius: 10px;
    margin: 15px 0 15px 0;
    width: 350px;
    height: 50px;
    padding: 8px 0px 0px 8px;
    box-shadow: 0px 0px 15px 0px #fa9494 ;
}

.input-register::placeholder{
    display: flex;
font-size: 30px;
}

@media (max-width: 768px) {
.input-login{
    display: flex;
 background-color: white; 
 border: #fa9494 1.5px solid;  
 border-radius: 10px;
 margin: 30px 0 30px 0;
 width: 350px;
 height: 50px;
 padding: 12px 0px 0px 10px;
 box-shadow: 0px 0px 20px 0px #fa9494 ;

}

.input-login::placeholder{
    display: flex;
font-size: 30px;
}

.input-register{
    display: flex;
    background-color: white; 
    border: #fa9494 1.5px solid;  
    border-radius: 10px;
    margin: 15px 0 15px 0;
    width: 350px;
    height: 50px;
    padding: 8px 0px 0px 8px;
    box-shadow: 0px 0px 15px 0px #fa9494 ;
}

.input-register::placeholder{
    display: flex;
font-size: 30px;
}
}






