.register-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../Images/azul.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 1024px;  
}
.register-form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.options-wrapper{
    display: flex;
    color: white;
    font-size: 30px;
    margin: 20px 0px 10px 0px;
    align-items: center;
}
.options-sector{
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  height: 50px;
  border-radius: 10px; 
  border: #fa9494 2px solid; 
}
.options-wrapper p{
    padding: 0px 15px 0px 0px;
    margin: 0;
    font-weight: 500;
}
.options-sector .sector {
    font-size: 20px;
    border-radius: 10px;
}
.options-sector .sector:hover {
  background-color: #fa9494;
}
.login-link{
    margin-top: 20px;
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.login-link :last-child {
    padding-left: 10px;
    text-decoration-line: underline;
    color: white;
    transition: .2s;

}
.login-link :last-child:active {
    color: #fa9494;
}
.login-link :last-child:hover {
    color: #fa9494;
}
