.order-style,
.menu-wrapper,
.all-menu,
.label-menu,
.new-order-wrapper,
.input-wrapper,
.order-table-wrapper,
.order-register-wrapper,
.total-value,
.item-ordered,
.value-wrapper,
.ordered-wrapper{
  display: flex;
}

.menu-wrapper,
.all-menu,
.order-table-wrapper,
.order-register-wrapper,
.ordered-wrapper {
  flex-direction: column;
}

.order-style,
.value-wrapper {
  justify-content: space-around;
}

.label-menu{
  justify-content: center;
}

.order-style {
  padding: 0px 15px 0px 15px;
}

.order-information-wrapper {
  min-height: 150px;
}

.menu-wrapper {
  text-align: center;
}


.all-menu {
  max-width: 600px;
  margin-top: 15px;
}

.label-menu {
  padding: 5px;
  background-color: #fa9494;
  border: 2px solid #fa9494;
  border-radius: 10px;
  width: 520px;
  color: white;
  font-size: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px #fa9494;
}



.new-order-wrapper {
  justify-content: space-between;
  padding: 0px 20px 0px 20px
}

.order-table-wrapper {
  background: #f2f2f2;
  min-height: 300px;
  min-width: 440px;
  margin: 30px 25px 0px 25px;
  border-radius: 8%;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 10px rgb(53, 52, 52);
}

.order-register-wrapper {
  margin: 10px 50px 10px 50px;
  padding-right: 50px;
}

.input-wrapper {
  text-align: center;
  align-items: center;
}

.input-style {
  color: black;
  margin: 8px;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;
}

.box {
  width: 300px;
  height: 200px;
  border: 2px solid #fa9494;
  margin-left: 40px;
}

.value-wrapper {
  align-items: center;
  padding: 6px;
  width: 300px;
  color: black;
  margin: 60px;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;
}

.item-ordered {
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.item-ordered p {
  margin: 2px;
  width: 190px;
}

.quantify-ordered {
  margin: 4px;
}

.price-ordered {
  width: 20px;
  text-align: end;
}



@media (max-width: 800px) {
  .order-table-wrapper {
    min-width: 300px;
    max-width: 580px;
    margin-left: 70px;
  }

  .order-information-wrapper {
    min-width: 200px;
    min-height: 50px;
  }

   .label-menu {
    font-size: 18px;
    margin: 5px;
    width: 520px;
  }



  .order-style {
    margin-top: 5px;
    height: fit-content;
    width: 680px;
    flex-direction: column;

  }
}

@media (max-width: 414px) {
  .order-style {
    /*  margin-top: 0px 10px; */
    height: fit-content;
    flex-direction: column;

  }

  .order-table-wrapper {
    min-width: 320px;
    margin: 5px 10px;
    align-items: center;
  }

  .order-information-wrapper {
    min-height: 50px;
  }

  .label-menu {
    padding: 5px;
    margin: 10px;
    min-width: 300px;
  }


}