.order-style {
  display: flex;
  padding: 0px 15px 0px 15px;
  justify-content: space-around;
}

.order-information-wrapper {
  min-height: 150px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  display: flex;
 }

.all-menu {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.label-menu {
  padding: 5px;
  background-color: #fa9494;
  display: flex;
  border: 2px solid #fa9494;
  border-radius: 10px;
  width: 535px;
  color: white;
  justify-content: center;
  font-size: 20px;
  margin: 10px;
  box-shadow: 0px 0px 20px 0px #fa9494;
}

.btn-menu {
  color: #000000;
  background: #f2f2f2;
  border: 0px solid #ffffff;
  text-shadow: -1px 1px 0px #fff;
  box-shadow: 0px 0px 7px #000000;
  -moz-box-shadow: 0px 0px 7px #000000;
  -webkit-box-shadow: 0px 0px 7px #000000;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 50px;
  padding: 0px;
  margin: 10px;
  width: 250px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;

}

.btn-menu:active {
  cursor: pointer;
  position: relative;
  top: 2px;
}

label {
  display: flex;
  justify-content: center;
}

.icon-btn {
  height: 40px;
}

.new-order-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px
}

.order-table-wrapper {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 300px;
  min-width: 440px;
  margin: 70px 25px 0px 25px;
  border-radius: 8%;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 20px #000000;
}

.order-register-wrapper {
  margin: 10px 50px 10px 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
}

.input-style {
  color: black;
  margin: 8px;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;
}

.box {
  width: 300px;
  height: 200px;
  border: 2px solid #fa9494;
  margin-left: 40px;
}

.value-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  width: 300px;
  color: black;
  margin: 60px;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;

}

.total-value {
  display: flex;
}

.item-ordered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

}

.ordered-wrapper {
  display: flex;
  flex-direction: column;
}


.btn-add {
  display: flex;
  height: 25px;
  width: 25px;
  background-color: #009d8c;
  color: white;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: 1px 1px 7px 1px;
  margin: 4px;
  border-radius: 5px;
}


.item-ordered p {
  margin: 2px;
  width: 190px;
}

.quantify-ordered {
  margin: 4px;
}

.price-ordered {
  width: 20px;
  text-align: end;
}

.btn-order-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}



@media (max-width: 800px) {
  .order-table-wrapper {
    min-width: 400px
  }

  .order-information-wrapper {
    min-width: 200px;
    min-height: 450px;
  }

  .btn-menu {
    margin: 5px;
  }

  .label-menu {
    font-size: 18px;
    width: 520px;
    margin: 5px;

  }


  .btn-wrapper {
    width: auto;
  }

  .order-style {
    margin-top: 50px;
    height: fit-content;

  }
}

@media (max-width: 414px) {
  .order-style {
    /*  margin-top: 0px 10px; */
    height: fit-content;
    flex-direction: column;

  }

  .order-table-wrapper {
    min-width: 320px;
    margin: 5px 10px;
    align-items: center;
  }

  .order-information-wrapper {
    min-height: 50px;
  }

  .btn-menu {
    margin: 10px;
    width: 130px;
    height: auto;
    padding: 5px;

  }

  .label-menu {
    padding: 5px;
    margin: 10px;
    min-width: 300px;
  }

  .btn-wrapper {
    min-width: 320px;
  }


}