.order-style,
.menu-wrapper,
.all-menu,
.label-menu,
.new-order-wrapper,
.input-wrapper,
.order-table-wrapper,
.table-wrapper,
.order-register-wrapper,
.order-information-wrapper,
.total-value,
.item-ordered,
.value-wrapper,
.ordered-wrapper,
.input-style {
  display: flex;
}

.menu-wrapper,
.all-menu,
.table-wrapper,
.order-table-wrapper,
.order-register-wrapper,
.ordered-wrapper {
  flex-direction: column;
}

.order-style,
.value-wrapper {
  justify-content: space-around;
}

.order-style {
  padding: 0px 15px 0px 15px;
}

.order-information-wrapper {
  min-height: 150px;
  max-width: 400px;
  padding: 8px 20px 8px 8px;
  margin: 6px 15px 15px 15px;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px whitesmoke;
  flex-direction: column;
}

.menu-wrapper {
  text-align: center;
}

.all-menu {
  max-width: 600px;
  margin-top: 15px;
}

.label-menu {
  padding: 5px;
  background-color: #fa9494;
  border: 2px solid #fa9494;
  border-radius: 10px;
  width: 520px;
  color: white;
  font-size: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px #fa9494;
  justify-content: center;
}

.new-order-wrapper {
  justify-content: space-between;
  padding: 0px 20px 0px 20px
}

.order-table-wrapper {
  background: #f2f2f2;
  min-height: 300px;
  min-width: 440px;
  margin: 30px 25px 0px 25px;
  border-radius: 8%;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 10px rgb(53, 52, 52);
  padding: 10px 20px;
}

.order-register-wrapper {
  margin: 10px 50px 10px 50px;
  padding-right: 50px;
}

.input-wrapper {
  text-align: center;
  align-items: center;
}

.input-style {
  color: black;
  margin: 18px 18px 0px 18px;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;
}

.box {
  width: 300px;
  height: 200px;
  border: 2px solid #fa9494;
  margin-left: 40px;
}

.value-wrapper {
  align-items: center;
  width: 300px;
  color: black;
  padding: 2px;
  border-radius: 8px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px 3px #000000;
  align-self: center;
}

.all-products-name {
  display: flex;
  min-width: 200px;
  flex-direction: column;
}

.item-ordered {
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}

.product-name {
  margin: 0px;
}

.display-name-lounge {
  margin: 5px 0 0 20px;
  font-weight: 500;
}

.quantify-ordered {
  margin: 4px;
}

.price-ordered {
  width: 20px;
  text-align: end;
}

.products-and-add-option {
  display: flex;
  flex-direction: column;
}

.all-add-option {
  display: flex;
  flex-direction: column;
}

.product-add-option {
  margin: 0px;
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 800px) {
  .order-table-wrapper {
    min-width: 300px;
    max-width: 580px;
    margin-left: 70px;
  }

  .order-information-wrapper {
    min-width: 250px;
    min-height: 50px;
  }

  .label-menu {
    font-size: 20px;
    width: 330px;
  }

  .order-style {
    margin-top: 5px;
    height: fit-content;
    width: 680px;
    flex-direction: column;
  }

  .item-ordered {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 414px) {
  .order-style {
    height: fit-content;
    flex-direction: column;
  }

  .order-table-wrapper {
    min-width: 320px;
    min-height: fit-content;
  }

  .order-information-wrapper {
    min-height: 50px;
  }

  .label-menu {
    padding: 5px;
    margin: 10px;
    min-width: 300px;
  }

  .menu-wrapper {
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 550px;
  }
}