.header-wrapper-lounge{
    display: flex;
    flex-direction: row;
    background-color: #009d8c;
    color: whitesmoke;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: space-evenly;
}

.header-wrapper-lounge img{
    width: 60px;
    align-self: flex-start;
    padding-left: 20px;
    justify-content: center;
}

.all-btn-links{
    display: flex;
    margin-left: 200px;
}

.btn-routes {
    display: flex;
    justify-content: space-between;
}

.btn-link-out {
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    margin-left: 150px;
}

.btn-links, .btn-out {
    display: flex;
    border: #fa9494 1.5px solid;
    height: auto;
    width: auto;
    padding: 0px 15px 2px 15px;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 30px 5px 30px;
    box-shadow: 0px 0px 10px 0px #fa9494;
    transition: .2s ease-in;
}

.btn-links {
    border-radius: 10px;
    background-color: #fa9494;
}

.btn-out {
    border-radius: 50%;
    background-color: whitesmoke;
}

.btn-links:hover {
    background-color: whitesmoke;
}

 .btn-out:hover {
    background-color: #a15454;
 }

.btn-links a {
    color: whitesmoke;
    transition: .2s ease-in;
    text-decoration: none;
    
}

.btn-out a {
    color: #fa9494;
    transition: .2s ease-in;
}

.btn-links a:hover, .btn-links a:active {
    color: #fa9494;
}

.btn-out a:hover, .btn-out a:active {
    color: whitesmoke;
}

@media (max-width: 800px) {
.header-wrapper-lounge{
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: flex-start;
}
.logo-wrapper{
    margin-left: 15px;
}

.logo-wrapper img{
    width: 60px;
    align-self: flex-start;
    padding-left: 10px;
    justify-content: center;
}

.all-btn-links{
    margin-left: 80px;
    padding: 0px 10px 0px 25px;
}

.btn-link-out {
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 0px;
}

.btn-links, .btn-out {
    margin: 5px 10px 5px 10px;
    padding: 0px 10px 2px 10px;
    font-weight: 500;
}

.btn-links {
    height: 65px;
    max-width: 120px;
}
}

@media (max-width: 450px) {
.header-wrapper-lounge {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.logo-wrapper {
    margin-left: 15px;
}

.logo-wrapper img {
    width: 80px;
}

.all-btn-links {
    margin-left: 50px;
    padding: 0px 10px 0px 15px;
}

.btn-links {
    height: 75px;
    max-width: 120px;
}
}