
.logo-login {
    padding-top: 50px; 
    margin: 15px;
 }
 .logo-login img{
    width: auto;
    height: 450px;
}

.logo-register {
    padding-top: 20px; 
    margin: 15px;
 }
 .logo-register img{
    width: auto;
    height: 410px;
}

@media (max-width: 414px) {
    .logo-login {
        padding-top: 5px; 
        margin: 5px;
     }
     .logo-login img{
        width: auto;
        height: 250px;
    }
}