.new-order-wrapper{
display: flex;
justify-content: space-between;
padding: 0px 20px 0px 20px
}
.order-ready-wrapper{
    margin: 25px 45px 15px 15px;;
}
.order-register-wrapper{
    margin: 10px 50px 10px 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}
.input-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
}
.input-style{
    color: black;
    margin: 4px;
    padding: 2px;
}


h1{
    display: flex;
    padding: 0;
}
.box{
    width: 300px;
    height: 200px;
    border: 2px solid #fa9494;
    margin-left: 40px;
}

.value-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 6px;
	border: 3px solid whitesmoke;
	border-radius: 5%;
    background-color: whitesmoke;
    margin: 10px 20px 10px 20px;
}

.total-value{
  display: flex;
}