.order-ready-wrapper{
	display: flex;
	flex-direction: column;
	height: fit-content;
    min-width: 280px;
	border: 2px solid white;
	margin: 25px 25px 15px 25px;
	border-radius: 8%;
	box-shadow: 0px 0px 20px 0px #fa9494;
}
.table-wrapper{
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.time-wrapper {
	align-self: flex-end;
	padding: 6px;
	border: 2px solid whitesmoke;
	border-radius: 25%;
	background-color: whitesmoke;
}

.table-number{
	margin: 1.5px;
}
.client-information{
 margin: 1.5px;
}
.waiter-information{
	margin: 1.5px;
}
.order-information-wrapper{
	display: flex;
	margin: 6px 15px 15px 15px;
	border: 3px solid whitesmoke;
	border-radius: 8px;
	padding: 8px;
	box-shadow: 0px 0px 5px 0px whitesmoke;
	display: flex;
    flex-direction: column;
}
.ordered-wrapper{
	display: flex;
}

.btn-std{
	padding: 23px;
}
.quantify-ordered{
	margin-right: 4px;
}